/*

index.html
divs

*/

/*Posibles paletas de colores: https://colorhunt.co/palette/fefcf3f5ebe0f0dbdbdba39a*/

/*variables globales con los colores que se van a usar*/
:root {
	--light-color: #FEFCF3;
	--medium-color: #F5EBE0;
	--text-color: #333;
	/*para texto que no sea título*/
	--emphasis-color: #DBA39A;
	/*para botones*/
	--border-color: #F0DBDB;
	/*para bordes, aún en testing*/

}

* {
	color: var(--dark-color);
	/* Color de texto por defecto */
	font-family: 'Forum', serif;
	/* Fuente por defecto */
}

body {
    /* Estilos del body */
    background-color: var(--light-color); /* Color de fondo */
    margin: 0; /* Elimina el margen por defecto del body */
}

#header_page {
    display: flex; /* Distribución flexible de elementos */
    flex-direction: row; /* Distribuye elementos en fila */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: var(--emphasis-color); /* Color de fondo del header */
    padding: 16pt; /* Relleno del header */
    border: 0; /* Sin bordes */
    user-select: none; /* Evita selección de texto */
}


#header_page > span {
    transition: font-size 300ms; /* Transición suave al cambiar tamaño fuente */
    flex-grow: 1; /* Crece para ocupar todo el ancho posible */
    font-size: 40pt; /* Tamaño fuente título web */
    text-align: left; /* Alinear título a la izquierda */
    font-weight: bold; /* Negrita */
    color: var(--light-color); /* Color de texto del header */
}

/* Estilos para las banderas de idiomas en el header */
#header_page > img {
    width: 60pt; /* Ancho de las banderas */
    height: 60pt; /* Alto de las banderas */
    padding-left: 5pt; /* Relleno izquierdo de las banderas */
    padding-right: 5pt; /* Relleno derecho de las banderas */
    cursor: pointer; /* Usar el icono de cursor "pointer" */
    transition-property: width, height, padding; /* Propiedades a animar */
    transition-duration: 300ms; /* Duración de la animación */
    user-select: none; /* Evita selección de imagen */
    -webkit-user-drag: none; /* Impide arrastrar la imagen */

    /* 
        :hover - Estilos al pasar el ratón por encima
    */
    &:hover {
        width: 80pt; /* Ancho de las banderas */
        height: 80pt; /* Alto de las banderas */
        padding: 0; /* Sustituye el padding por ancho y alto, para mantener el tamaño */
    }

    /* :active - Estilos al hacer clic en la imagen */
    &:active {
        width: 28pt; /* Ancho de las banderas */
        height: 28pt; /* Alto de las banderas */
        padding-left: 0pt; /* Relleno izquierdo de las banderas */
        padding-right: 0pt; /* Relleno derecho de las banderas */
    }

}

/* Estilos para la barra de navegación (Opciones)*/
nav {
    text-align: center; /* Alinear texto opciones al centro */
    padding: 8pt; /* Añadir relleno */
    font-size: 16pt; /* Tamaño fuente opciones */
    background-color: var(--medium-color); /* Color de fondo */
    border: 0; /* Sin bordes */
    user-select: none; /* Evita selección de texto */
}

/* Estilos para el elemento clickable dentro de la barra de navegación */
nav > span {
    display: block; /* Mostrar como bloque para ocupar todo el ancho */
    cursor: pointer; /* Usar el icono de cursor "pointer" */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-weight: bold; /* Negrita */

	&:hover {
        text-decoration: underline; /* Subrayar el texto */
    }
}

/* Estilos para las opciones del menú */
#div-menu {
    overflow: hidden; /* Ocultar contenido que sobresalga, para la animación */
    padding: 0; /* Elimina padding */

    /* Contenedor del menú */
    & > ol {
        margin: 0; /* Elimina margen */
        padding: 0; /* Elimina padding */
        border-left: var(--medium-color) 2pt solid; /* Borde izquierdo */
        border-right: var(--medium-color) 2pt solid; /* Borde derecho */
    }

    /* Estilos para los elementos de la lista */
    & li {
        margin: 0; /* Elimina margen */
        padding: 0; /* Elimina padding */
        list-style-type: none; /* Elimina viñetas de la lista */
    }

    /* Estilos para los spans dentro de los elementos de la lista */
    & li span {
        display: block; /* Mostrar como bloque para ocupar todo el ancho */
        height: 20pt; /* Altura del elemento */
        line-height: 20pt; /* Alinear texto verticalmente haciendo la línea igual de alta */
        
        transition-property: height, padding-bottom, padding-top; /* Propiedades a animar */
        transition-duration: 500ms; /* Duración de la animación */
        overflow: hidden; /* Ocultar contenido que sobresalga, para la animación */
        
        margin: 0; /* Elimina margen */
        padding-bottom: 8pt; /* Relleno inferior */
        padding-top: 8pt; /* Relleno superior */
        padding-left: 20pt; /* Relleno izquierdo */
        border-bottom: var(--emphasis-color) 2pt solid; /* Borde inferior */
        
        cursor: pointer; /* Usar el icono de cursor "pointer" */
        font-size: 14pt; /* Tamaño fuente */
        user-select: none; /* Evita selección de texto */
    }
	/* Estilos especiales para el primer elemento de la lista */
    & li:first-child span {
        padding-top: 8pt; /* Relleno superior */
    }

    /* 
        Estilos de span cuando el menú está oculto.
        
        Selector de clase (.hidden) - Aplica estilos a los elementos con esa clase.
        Formato: .nombre-clase { ... }

        Se puede combinar con otros selectores, como en este caso,
        para aplicar estilos sólo cuando el elemento padre tiene esa clase.
        Formato: selector.nombre-clase { ... }

        Los espacios entre selectores son importantes:
        - Sin espacio: el selector con clase es el mismo elemento
        - Con espacio: el selector con clase es un hijo (en algún nivel) del elemento padre
    */
    &.hidden li span {
        /* Colapsamos el menú */
        height: 0; /* Altura del elemento */
        padding-bottom: 0; /* Relleno inferior */
        padding-top: 0; /* Relleno superior */
        border: 0 /* Sin bordes */
    }

    /* Estilos de span al pasar el ratón por encima */
    & li span:hover {
        background-color: var(--emphasis-color-2); /* Color de fondo al pasar el ratón */
    }

    /* Estilos para elementos deshabilitados */
    & li.disabled span {
        cursor: not-allowed; /* Icono de cursor "not-allowed" */
        background-color: lightgray; /* Color de fondo gris */
        color: rgb(52, 52, 52); /* Color de texto gris oscuro */
    }
}


.bordeado {
	border-width: 1;
	border-style: solid;
}

#header_page {
	font-size: 60;
	text-align: center;
}

#tablaresultadostest tbody tr th {
	width: 10%;
	word-wrap: break-word;
}

.div_IU_form {
	width: 100%;
	/*Toma el 100% del ancho de la página*/
	height: 100%;
	/*Toma el 100% del alto de la página*/
	position: fixed;
	/*Con este código hacemos que el contenedor se mantenga en la pantalla y para que tome las dimensiones del body y no de la entrada*/
	background-color: var(--medium-color);
	/*Color de fondo, incluye opacidad del 90%*/
	top: 0;
	/*Position superior*/
	left: 0;
	/*Posición lateral*/
	z-index: 10;
	/*Evitamos que algún elemento del blog sobreponga la ventana modal*/

}

.contenidoForm {
	background: var(--light-color);
	position: absolute;
	z-index: 20;
	border-radius: 5px;
	width: 80%;
	height: 78.5%;
	margin-top: 6%;
	margin-left: 7%;
	border: 1px;
	border-style: solid;
	overflow-y: scroll;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.formulario {
	top: 20px;
	position: relative;
	left: 20px;
}

.class_titulo_form {
	position: relative;
	height: 100px;
	width: 100%;

	background: #F5EBE0;
	color: #333;
}

#class_contenido_titulo_form {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);

	font-weight: bold;
}

/*
modal error
*/

#error_action_modal {
	position: fixed;
	z-index: 9999;
	display: none;
	border: 3px solid;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#modal_action_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 9998;
}